.Header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}

.Header-logo img{
    width: 100px;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
}

.nav-items li{
    padding: 5px;
    margin: 5px;
}